title:               Notes
description:         Notes for thinking in public
url: "https://notes.gaggio.com"
baseurl: ""
include:             ['_pages']
exclude:
  - _includes/notes_graph.json
  - vendor/bundle
  - vendor/cache
  - Gemfile
  - Gemfile.lock
  - node_modules
  - .sass-cache


# You may need to change the base URL depending on your deploy configuration.
baseurl:             ''

# If you are using a host that cannot resolve URLs that do
# not end with .html (such as Neocities), set this to 'true'.
use_html_extension:  false

# Set to `true` to open non-internal links in new tabs, or
# set to `false` to open non-internal links in current tab.
open_external_links_in_new_tab: true

# Set to `true` to replace tweet URLs with Twitter embeds.
# Note that doing so will negatively the reader's privacy
# as their browser will communicate with Twitter's servers.
embed_tweets: false

permalink:           pretty
relative_permalinks: false

safe: false

plugins_dir: _plugins

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-last-modified-at

last-modified-at:
  date-format: '%Y-%m-%d'


sass:
  sass_dir:          _sass
  style:            :compressed

collections:
  notes:
    output: true
    permalink: /:slug

defaults:
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note"

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  footnote_nr: 1
  parse_block_html: true
